<div class="page-header prew-header">
  <h3 class="left">Состав меню</h3>
</div>
<div class="highlight menuBlock">
  <ul class="menu-list" data-region="menuProductsItemsRegion">
      <li class="menu-list-header"><div class="row">
          <div class="col-md-5 vcenter">
              <div class='menu-list__characters'>
                  <span>Наименование</span>
              </div>
          </div><!--
    --><div class="col-md-5 vcenter">
          <div class="row">
              <div class="col-md-6">
                  <span>Количество</span>
              </div>
              <div class="col-md-6">
                  <span>Цена</span>
              </div>
          </div>
      </div><!--
    --><div class="col-md-2 vcenter">
          <span>Стоимость</span>
      </div>
      </div></li>
  </ul>
</div>