<div ng-controller="MenuController">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Меню "Fusion Service Group"</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Выход</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
<div class="row">
<div class="col-md-4 menu-wrapper" id="productsBlockRegion"></div>
<div class="col-md-8">

    <div class="page-header prew-header">
        <h3 class='left'>Создать меню</h3>
    </div>

    <div class='highlight create-menu'>
        <form class="form-inline">
            <div class="form-group">
                <label>Название меню:</label>
                <input placeholder='Название меню' type='text' ng-model='menuCurrent.name' class='form-control'>
            </div>
            <div class="form-group">
                <label>Выбор из ранее сохранённых:</label>
                <select name="menuCurrent" class='form-control' id="menuSelect"
                        ng-options="menu.name for menu in menus"
                        ng-model="menuCurrent"
                        ng-change="menuSelect()"
                        ></select>
            </div>
            <div class="form-group">
                <label>Фоновое изображение:</label>
                <select class='form-control' id="imageSelect"
                        ng-options="image.name for image in images"
                        ng-model="menuCurrent.image"
                        ng-change="imageSelect()"
                        ></select>
            </div>
        </form>
    </div>


    <div ng-if='menuCurrent.name && menuCurrent.products[0]' class="page-header prew-header">
        <h3 class='left'>Состав меню</h3>
    </div>
    <div ng-if='menuCurrent.name && menuCurrent.products[0]' class='highlight'>
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Закуп. цена</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="productCurrent in menuCurrent.products"
                ng-click='productToggle(productCurrent)'
                ng-if='groupCompare(menuCurrent.products[$index-1].group[0], productCurrent.group[0])'
                    >
                <th colspan=5>{{productCurrent.group[0].name}}</th>
            </tr>
            <tr ng-click='productToggle(productCurrent)' ng-repeat-end>
                <td>{{productCurrent.name}}</td>
                <td>{{productCurrent.count}} {{productCurrent.measure}}</td>
                <td>{{productCurrent.price}} Р</td>
                <td>{{productCurrent.priceBase}} Р</td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div ng-if='menuCurrent.name && menuCurrent.products[0]' class="page-header prew-header">
        <h3 class='left'>Дополнительные настройки</h3>
    </div>
    <div class='highlight options-menu'>
        <div class="row">
            <div class="col-md-6">
                <h4>Сервис</h4>
                <form>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" checked value="">Использовать доп. расходы на персонал</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="increase">Надбавка за сервис (%):</label>
                                <input type="text" class="form-control" id="increase">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="comment">Комментарий доп. расходы:</label>
                                <textarea class="form-control" rows="3" id="comment"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h4>Формат</h4>
                <form>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Использовать английские названия</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Использовать изображения элементов</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Скрыть цены за каждую единицу товара</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="discount">Скидка на общую стоимость (%):</label>
                                <input type="text" class="form-control" id="discount">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-if='menuCurrent.name && menuCurrent.products[0]' class="btn-group right imp-btns" role="group" aria-label="...">
        <button ng-click='preload()' type="button" class="btn btn-success">Предпросмотр</button>
        <button ng-click='menuSave()' type="button" class="btn btn-success">Сохранить меню</button>
        <button ng-click='downloadPDF()' type="button" class="btn btn-success">Экспорт в PDF</button>
    </div>

    <!--<div ng-if='menuCurrent.name && menuCurrent.products[0]' ng-click='menuSave()' class='bg-success block block--active tac pointer'>Сохранить</div>-->

    <!--<div ng-if='menuCurrent.name && menuCurrent.products[0]' ng-click='downloadPDF()' class='bg-success block block--active tac pointer'>Сохранить в PDF</div>-->
    <!--<div ng-if='menuCurrent.name && menuCurrent.products[0]' ng-click='getPDF()' class='bg-success block block--active tac pointer'>Просмотр PDF</div>-->
    <div id='pdfContainer'></div>

</div>
</div>
</div>
</div>