<div class="page-header prew-header">
  <h3 class='left'>Создать меню</h3>
</div>

<div class='highlight create-menu'>
  <form class="form-inline">
    <div class="form-group">
      <label>Выбор из ранее сохранённых:</label>
      <div data-region="savedMenusRegion"></div>
    </div>
    <div class="form-group">
      <label>Фоновое изображение:</label>
      <div data-region="blankSelectRegion"></div>
    </div>
  </form>
</div>


<div data-region="menuProductsRegion"></div>

<div ng-if='menuCurrent.name && menuCurrent.products[0]' class="page-header prew-header">
  <h3 class='left'>Дополнительные настройки</h3>
</div>
<div class='highlight options-menu'>
  <div class="row">
    <div class="col-md-6">
      <h4>Сервис</h4>
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" class='noAdditionalExpenses'>Без доп. расходов на персонал</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="increase">Надбавка за сервис (%):</label>
              <input type="text" class="form-control serviceIncrease" id="increase">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="comment">Комментарий доп. расходы:</label>
              <textarea class="form-control commentAdditionalExpenses" rows="3" id="comment"></textarea>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <h4>Формат</h4>
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" class='isEnglish'>Использовать английские названия</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class='isImages'>Использовать изображения элементов</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class='noPrices'>Скрыть цены за каждую единицу товара</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="discount">Скидка на общую стоимость (%):</label>
              <input type="text" class="form-control discount" id="discount">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="btn-group right imp-btns" role="group" aria-label="...">
  <button ng-click='preload()' type="button" class="btn btn-success">Предпросмотр</button>
  <button type="button" class="btn btn-success saveButton">Сохранить меню</button>
  <button ng-click='downloadPDF()' type="button" class="btn btn-success">Экспорт в PDF</button>
</div>

<!--<div ng-if='menuCurrent.name && menuCurrent.products[0]' ng-click='menuSave()' class='bg-success block block--active tac pointer'>Сохранить</div>-->

<!--<div ng-if='menuCurrent.name && menuCurrent.products[0]' ng-click='downloadPDF()' class='bg-success block block--active tac pointer'>Сохранить в PDF</div>-->
<!--<div ng-if='menuCurrent.name && menuCurrent.products[0]' ng-click='getPDF()' class='bg-success block block--active tac pointer'>Просмотр PDF</div>-->
<div id='pdfContainer'></div>