<!doctype html>
<html lang="en">
<head>
    <link href='/static/css/libs.css' rel='stylesheet' type='text/css' />
    <link href='/static/css/app.css' rel='stylesheet' type='text/css' />
    <script src='/static/js/libs.js'></script>
    <script src='/static/js/app.js'></script>
    <meta charset="UTF-8">
    <title>Fusion Service Menu Generator</title>
</head>
<body id="body">

</body>
</html>
