<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th></th>
        <th>Название</th>
        <%= isAdmin ? '<th>Удалить</th>' : '' %>
    </tr>
    </thead>
    <tbody id='hotsBody'>
    </tbody>
</table>
<div class='ovh'>
    <div class='btn btn-success imageAdd'>
        <label class='pointer'>
            <div class='uploadHeader'><span class=" glyphicon glyphicon-plus"></span> Добавить акцию</div>
            <input type="file" class='upload-input hotUpload' multiple/>
        </label>
    </div>
</div>