<div class='menu-list__characters'>
  <span class='menu-list__characters-val'>
     <% if ((typeof isDelimiter === 'undefined' || !isDelimiter) && (typeof isGroup !== 'undefined' && isGroup)) { %>
      <input class='itemName' type='text' value="<%- typeof name !== 'undefined' ? name : '' %>" />
     <% } else {%>
      <span class='itemName'><%- typeof name !== 'undefined' ? name : '' %></span>
     <% }%>
  </span>
  <% if (typeof isDelimiter === 'undefined' || !isDelimiter) {%>
  <span class='menu-list__characters-val'>
      <span class='menu-list__characters-val-text'>Вес: </span>
      <span class='itemServing'></span>
      <span class='menu-list__characters-val-text'> г</span>
  </span>
    <% if (typeof isGroup === 'undefined' || !isGroup) {%>
  <span class='menu-list__characters-val menuPriceBlock'>
      <span class='menu-list__characters-val-text'>Стоимость: </span>
      <span class='itemPrice'></span>
      <span class='menu-list__characters-val-text'> руб.</span>
  </span>
    <% }%>
  <% }%>
</div>

<% if (typeof isDelimiter === 'undefined' || !isDelimiter) {%>
<div class='menu-list__delete menuItemDelete'>
  <span class="glyphicon glyphicon-remove"></span>
</div>
<% }%>

<% if (typeof isDisabled === 'undefined' || !isDisabled) {%>
<div class='menu-list__handle menuItemHandle'>
    <span class="glyphicon glyphicon-align-justify"></span>
</div>
<% }%>
